html, body {
    height: 100%;
  }

.myRegion{
    width: 250px;
    height: 1000px;    
    padding-top: 15px;
    border-color: rgb(210, 210, 210);   
    margin-top: 25px; 
}

.center{    
    margin-right: auto;
    margin-left: auto;
    text-align: center;    
}

.myCard{
    width: 540px;
    height: auto;    
    margin-bottom: 15px;
}

.scrollable{
    overflow-y: auto;
}

.post_content_input{
    margin-left: 0px;
}